
.vBody{
    background-color: blueviolet;
    font-family: 'dongle';
    font-size: 2rem;
    height: 800px;
    
}

.hide {display: none !important;}

.vBody .v-label{
    font-size: 0.9em;
    height: 40px;
}

.vBody .v-input{

    font-size: 0.8em;
    height: 40px;
}

.themeDetail{
    text-align: initial;
}

.smallFont .v-select__selections{
    font-size: 0.85em !important; 
}


.searchBtn {font-size: 1.4rem !important;}


.dateCol .v-input__slot{
    padding-bottom: 5px;
    height: 32px !important;
    /* : 0px; */

}

.dateCol.xsSize{
    padding-top: 0px !important;
    /* : 0px; */

}
.dateCol.xsSize .v-text-field{
    padding-top: 0px;
}

.dateCol.xsSize .v-text-field__slot input{
    padding-top: 0px !important;
    /* : 0px; */

}






/* vuetify 컴포넌트 재정의 */
.v-card__title{
    font-size: 2.2rem !important;
}

.v-application .text-subtitle-2 {
    font-size: 1.5rem !important;
    font-family: dongle !important;
}

.v-btn__content {
    font-family: dongle !important;
    font-size: 1.2rem;
}

.v-dialog-wrapper .body-1{
    font-family: dongle !important;
    font-size: 1.6rem !important;
    padding: 20px 30px 20px 30px;

}
.v-card__subtitle, .v-card__text {
    font-size: 0.75rem;
  font-family: "Roboto", sans-serif !important;
}

