
.vBody{
    background-color: blueviolet;
    font-family: 'dongle';
    font-size: 2rem;

}

.hide {display: none !important;}

.vBody .v-label{
    font-size: 0.9em;
    height: 40px;
}

.vBody .v-input{

    font-size: 0.8em;
    height: 40px;
}


.smallFont .v-select__selections{
    font-size: 0.9em !important; 
}


.searchBtn {font-size: 1.4rem !important;}





/* vuetify 컴포넌트 재정의 */
.v-card__title{
    font-size: 2rem !important;
}
/* 
.v-picker__title {
   display: none;
}

.v-picker__body {
   position: absolute !important;
}  */